@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
   font-family: "Didact Gothic", sans-serif;
}
/* 
  font-family: "Oswald", sans-serif;
  font-family: "Didact Gothic", sans-serif;

*/

.section-heading {
   margin-bottom: 60px;
   text-align: center;
}
.section-heading h5 {
   margin-bottom: 5px;
   font-size: 14px;
   font-weight: 300;
   letter-spacing: 5px;
   line-height: 26.25px;
   text-transform: uppercase;
}
.section-heading h2 {
   margin-bottom: 20px;
   font-size: 45px;
   font-weight: 400;
   letter-spacing: 3px;
   line-height: 56.25px;
   text-transform: uppercase;
}

ul li a.active {
   background-color: red;
   color: red;
}

.closed-navItems li a {
   margin-top: 5px;
   margin-bottom: 5px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.closed-navItems li a.active {
   background-color: red;
}

p,
li {
   letter-spacing: 0.25px;
   font-size: 15px;
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 1000px #1e1e1e inset;
   /* Change #000 to your desired background color */
   -webkit-text-fill-color: #999999 !important;
   /* Change #fff to your desired text color */
}
