@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
   font-family: "Didact Gothic", sans-serif;
}
/* 
  font-family: "Oswald", sans-serif;
  font-family: "Didact Gothic", sans-serif;

*/
ul li a.active {
   background-color: red;
   color: red;
}

.closed-navItems li a {
   margin-top: 5px;
   margin-bottom: 5px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.closed-navItems li a.active {
   background-color: red;
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 1000px #1e1e1e inset;
   /* Change #000 to your desired background color */
   -webkit-text-fill-color: #999999 !important;
   /* Change #fff to your desired text color */
}
