/* Assuming you have a CSS file linked to your React project */

/* Style the container of the Swiper component */
/* .swiper-container {
   width: 100%;
   height: 100%;
} */

/* Style the slides */

/* Customize navigation buttons */
/* Banner.css */
.swiper-button-next,
.swiper-button-prev {
   color: black; /* Set color of navigation arrows to black */
}

/* Customize pagination bullets */
.swiper-pagination-bullet {
   background: #000; /* Set color of pagination bullets to black */
}
